.vscode/**
.vscode-test/**
.gitignore
.vscodeignore
tests/**
vsc-extension-quickstart.md
node_modules
tsconfig.json
eslint.config.mjs
pnpm-lock.yaml
pnpm-workspace.yaml
examples/**
src/**
build/**
build.mjs
**/*.map
CONTRIBUTING.md
